<?php session_start(); ?>

<div class="content">
    <br>
    <div class="chip mr">
        <span class="chip__label">Macro-Eat</span>
    </div>
    <div class="chip mr">
        <span class="chip__label">Compte: {{currentUser}}</span>
    </div>
    <div class="chip chip--is-deletable mr">
        <span class="chip__label" ng-click="deconexion()">Deconnexion</span>
    </div>

    <div width="100%">
        <svg class="monSvg" viewBox="0 0 1500 500">
            <path d="M 0,150 L 100,150 L 140,80 L180,150 L200,120 L220,150 L240,50 L260,280 L290,10 L320,200 L330,110  L340,150 L360,120 L380,150 L440,80 L490,150 L580,120 L660,150 L850,150 L900,110 L940,150 L960,120 L980,150 L1000,40 L1020,240 L1050,110 L1060,150 L1090,120 L1110,150 L1140,60 L1180,210 L1200,150 L1260,80 L1280,150 L1500,150 L1500,750 L0,750   "
            style="fill:#F7F7F7; stroke:none"/>
        </svg>
    </div>

    <div class="generalContent">
        <p>Accueil</p>
    </div>

</div>