<div class="content">
    <div class="col-md-6 col-md-offset-3">
        <form name="userForm" novalidate class="userForm">
            Username : <input type="text" name="username" ng-model="username"><br>
            Password : <input type="text" name="password" ng-model="password"><br>
            
            <button ng-click="createUser()" >Créer compte</button>
            <button ng-click="login()">Loggin</button>
            <lx-button lx-color="blue">Button</lx-button>
        </form>

        <p id="error" class="error"></p>
        <p id="success"></p>
    </div>
</div>
